<div class="row border rounded p-2 mb-4">
  <div class="col">
    <h2>
      Painel do Administrador
    </h2>
  </div>
</div>



<div class="row">

  {{!-- CATEGORIAS --}}
  <div class="col-md-4">
    <div class="row border rounded shadow-sm m-1 p-4">
      <div class="col-md-7">
        <img src="/img/categorias.svg" style="max-width:180px;">
      </div>
      <div class="col p-3">
        <strong>Categorias</strong>
        <p class="card-text mb-8"> Painel de categorias</p>
        <a href="/categoria" class="btn btn-primary">Entrar</a>
      </div>
    </div>

  </div>

  {{!-- POSTAGENS --}}
  <div class="col-md-4">
    <div class="row border rounded shadow-sm m-1 p-4">
      <div class="row g-0">
        <div class="col-md-7">
          <img src="/img/postagens.svg" style="max-width:180px;" alt="...">
        </div>
        <div class="col p-3">
          <strong>Postagens</strong>
          <p class="card-text mb-8"> Painel de postagens</p>
          <a href="/postagem" class="btn btn-primary">Entrar</a>
        </div>
      </div>
    </div>
  </div>

  {{!-- USUARIOS --}}
  <div class="col-md-4">
    <div class="row border rounded shadow-sm m-1 p-4">
      <div class="row g-0">

        <div class="col-md-7">
          <img src="/img/usuarios.svg" style="max-width: 180px;" alt="...">
        </div>

        <div class="col p-3">
          <strong>Usuários</strong>
          <p class="card-text">
            Painel de usuários
          </p>
          <a href="/usuario/usuarios" class="btn btn-primary">Entrar</a>

        </div>
      </div>
    </div>

  </div>
</div>

</div>
</div>