<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <div class="container-fluid d-flex ">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" href="/postagem">Postagens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/categoria">Categorias</a>
        </li>
        {{#if user}}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/dashboard">Dashboard</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="/usuario/logout">Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link active" href="/usuario/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/usuario/cadastro">Cadastre-se</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>